.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  height: 75vh;
  box-shadow: 1px 0px 20px 2px slategrey;
  margin: 10vw auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #3f51b596;
}
